{% extends 'base.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block body %}
    <h1 class="text-center">Catégories</h1>

    <div class="container">

        <table class="table table-primary table-striped align-middle">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{ category.id }}</td>
                    <td>{{ category.name }}</td>
                    <td>
                        <div class="d-grid gap-2">
                            <a class="btn btn-outline-primary" role="button" href="{{ path('category_show', {'id': category.id}) }}">Voir</a>
                            <a class="btn btn-outline-primary" role="button" href="{{ path('category_edit', {'id': category.id}) }}">Editer</a>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Aucune catégorie trouvée</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="d-grid gap-2">
            <a class="btn btn-primary" role="button" href="{{ path('category_new') }}">Ajouter une catégorie</a>
        </div>

    </div>

{% endblock %}
