{% extends 'base.html.twig' %}

{% block title %}Catégorie{% endblock %}

{% block body %}
    <h1 class="text-center">Catégorie</h1>

    <div class="container">

        <table class="table table-primary table-striped align-middle">
            <tbody>
                <tr>
                    <th>ID</th>
                    <td>{{ category.id }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                    <td>{{ category.name }}</td>
                </tr>
            </tbody>
        </table>

        <div class="d-grid gap-2">
            <div class="btn-group" role="group">
                <a class="btn btn-outline-primary" role="button" href="{{ path('category_index') }}">Retour à la liste</a>
                <a class="btn btn-outline-primary" role="button" href="{{ path('category_edit', {'id': category.id}) }}">Editer</a>
            </div>
            {{ include('category/_delete_form.html.twig') }}
        </div>

    </div>
{% endblock %}
