<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
    </head>
    <body>
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary">
            <div class="container">
                <a class="navbar-brand" href="{{ path('article_index') }}">UE 235</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <ul class="nav justify-content-end navbar-nav">

                    {% if allArticles.getArticles() is defined %}
                    <!-- sous-menu des articles sur toutes les pages -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Articles
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="dropdown-item" href="{{ path('article_index') }}">Tous les articles</a>
                            </li>
                            {% for article in allArticles.getArticles() %}
                            <li>
                                <a class="dropdown-item" href="{{ path('article_show', {'id': article.id}) }}">{{ article.title }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% else %}
                    <!-- cas sans sous-menu des articles -->
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('article_index') }}">Articles</a>
                    </li>
                    {% endif %}

                    {% if allCategories.getCategories() is defined %}
                    <!-- sous-menu des catégories sur toutes les pages -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Catégories
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="dropdown-item" href="{{ path('category_index') }}">Toutes les catégories</a>
                            </li>
                            {% for category in allCategories.getCategories() %}
                            <li>
                                <a class="dropdown-item" href="{{ path('category_show', {'id': category.id}) }}">{{ category.name }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% else %}
                    <!-- cas sans sous-menu des catégories -->
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('category_index') }}">Catégories</a>
                    </li>
                    {% endif %}

                    <!-- autres éléments de menu -->
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('article_new') }}">Ajouter un article</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('category_new') }}">Ajouter une catégorie</a>
                    </li>

                </ul>
            </div>
        </nav>
        {% block body %}{% endblock %}
        {% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
    </body>
</html>