{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
    <h1 class="text-center">Articles</h1>

    <div class="container">

        <table class="table table-dark table-striped align-middle">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col" class="col-md-1">Titre</th>
                    <th scope="col" class="col-md-1">Catégorie</th>
                    <th scope="col">Contenu</th>
                    <th scope="col" class="col-md-1">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for article in articles %}
                <tr>
                    <td>{{ article.id }}</td>
                    <td>{{ article.title }}</td>
                    <td>
                        {% if article.Category.name is defined %}
                            {{ article.Category.name }}
                        {% endif %}
                    </td>
                    <td>{{ article.content }}</td>
                    <td>
                        <div class="d-grid gap-2">
                            <a class="btn btn-outline-primary" role="button" href="{{ path('article_show', {'id': article.id}) }}">Lire</a>
                            <a class="btn btn-outline-primary" role="button" href="{{ path('article_edit', {'id': article.id}) }}">Editer</a>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Aucun article trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <!-- pagination -->
        <div class="pagination">
            {{ knp_pagination_render(articles) }}
        </div>

        <p class="paginationMax">Afficher
            <select name="max" id="max">
                <option>--</option>
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="50">50</option>
            </select>
        articles par page</p>

        <div class="d-grid gap-2">
            <a class="btn btn-primary" role="button" href="{{ path('article_new') }}">Ajouter un article</a>
        </div>

    </div>

    <script type="text/javascript">

        // lors d'une modification sur la liste "max" dans la liste des articles
        // envoyer la valeur sélectionnée en URL (pour traitement par le contrôleur)
        // (pas trouvé comment externaliser ce script en raison des variables twig)
        $('#max').change(function() {
            if($.isNumeric($('#max').val())) {
                {% set currentPath = path(app.request.attributes.get('_route')) %}
                var url = "{{path(app.request.attributes.get('_route'),{'max': '_itemNum'})}}";
                var item = $('#max').val();
                jQuery(location).attr('href', url.replace('_itemNum',item ));
            }
        });

    </script>
{% endblock %}
